
@font-face {
    font-family: "SF Pro Rounded";
    src: url("../fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../fonts/SF-Pro-Rounded-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../fonts/SF-Pro-Rounded-Heavy.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../fonts/SF-Pro-Rounded-Black.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Light.ttf") format("opentype");
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Display", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 23.2px;
    color: black;
    background-color: white;
    margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 49px;
}

.container--no-padding {
    padding: 0
}

.container--only-right-padding {
    padding: 0 49px 0 0;
}

h1 {
    font-family: "SF Pro Rounded", sans-serif;
    font-size: 55px;
    line-height: 50px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-family: "SF Pro Rounded", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-family: "SF Pro Rounded", sans-serif;
    font-size: 25px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 0;
}

.p {
    margin: 0px 0px 10px 0px;
    width: 670px;
}

.p--lead {
    font-size: 22px;
    line-height: 28px;
    margin: 0px 29px 16px 0px;
}

.p--last {
    margin: 0px;
}

.menu {
    height: 45px;
    margin: 17px 0px 13px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu_group {
    display: flex;
}

.menu_logo {
    margin: 0px 28px 0px 0px;
    width: 140px;
    height: 36px;
}

.menu_elements {
    font-family: "SF Pro Rounded", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
}

.menu_element {
   margin: 0px 12px 0px 0px;
}

.menu_element--last {
    margin: 0px;
    font-family: "SF Pro Rounded", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.menu-element--inactive {
    color: black;
}

.menu_element--active {
    color: #FF5B5B;
    border-bottom: 1px solid #FF5B5B;
}

a {
    text-decoration: none;
    color: black; 
}


a:hover {
    color: #FF5B5B;
    transition: 100ms;
}

.a--nohover:hover {
    color: black;
}

.menu_basket {
    margin: 0px 0px 6px 0px;
}

.menu_price {
    font-family: "SF Pro Rounded", sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.menu_bag {
    margin: 0px 2px 0px 0px;
}

.top-img {
    width: 1000px;
}

.main-ill {
    margin: 0px 0px 56px 0px;
}

.header {
    margin-bottom: 35px;
}

.text-block-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.lead {
    margin-right: 24px;
}

.text-block-1_img {
    width: 180px;
    margin-bottom: 10px;
}

.caption {
    font-size: 15px;
    line-height: 17px;
    font-weight: 300;
}

.img+caption {
    display: flex;
    flex-direction: column;
}

.text-block-2_img {
    width: 268px;
}

.caption-2 {
    margin: -12px 0px 0px 49px;
}

.text-block-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.text {
    margin: 0px 0px 0px 14px;
    width: 670px;
}

.footer {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.ul-1 {
    margin: 19px 0px 0px 0px;
}

li {
    margin-bottom: 10px;
    font-family: 'SF Pro Rounded', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

.li--last {
    margin-bottom: 0px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.ul-2 {
    margin: 0px 40px 0px 0px;
}
